 body {
            background-color: #39393a;
            font-family: 'Inter', sans-serif;
        }

        .card {
            border-radius: 35px;
        }

        #calendar {
            max-width: 100%;
            margin-top: 20px;
        }

        
        .fc-event {
            background-color: #dc3545; 
            border: none;
            border-radius: 5px;
            color: white;
            padding: 2px 4px;
            text-align: center;
        }

        
        #message {
            display: none;
            text-align: center;
            padding: 1rem;
            border-radius: 0.5rem;
        }

        
        @media (max-width: 768px) {
            .card {
                padding: 1rem !important; 
            }
            #calendar {
                font-size: 0.7rem; 

            }
           
        }
 